@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Lobster&family=Open+Sans:wght@300&family=Roboto&display=swap');
:root{
    --verde: #39a900;
    --blanco: #fff;
    --negro: #000;
    --gris-oscuro: #c7c7c7;
    --gris-claro: #f7f7f7;
    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-open-sans: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gris-claro);
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: var(--negro);
    font-size: 18px;
    font-weight: 600;
    margin-top: 1em;
    letter-spacing: 0.1rem;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.my-form{
    display:flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    border-radius: 16px;
    box-shadow: 0px 20px 60px var(--gris-oscuro);
    min-width: 288px;
    max-width: 420px;
    width: 100%;
    padding: 32px;
}

.login-welcome-img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.login-welcome-row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.my-form__button{
    background-color: var(--verde);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--negro);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.025em;
    text-rendering: none;
    cursor:pointer;
    font-weight: 600;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 3.5px 8px var(--negro);
    letter-spacing: 0.1rem;
    
}

.text-field input{
    color: var(--negro);
    font-size: 16px;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--negro);
    height: 50px;
    letter-spacing: 0.03rem;
    background-color: transparent;
    outline: none;
    transition: .20s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}

.my-form__button:hover{
    color: var(--blanco);
    transition: all 2s ease;
    -webkit-transition: all 2s ease; 
}

.text-field{
    position: relative;
}

.text-field input::-webkit-input-placeholder{ /* Place holder del input*/
    color: var(--gris-oscuro);
}

.text-field img{
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.text-field input:focus{
    border: 1px solid var(--verde);
}

.text-field label{
    color: var(--negro);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 100;
}

.input-icon{
    position: absolute;
    bottom: 0;
    top: 33%;
    right: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__acction{
    display: flex;
    flex-direction: column;
    color: var(--gris-oscuro);
    gap: 16px;
    margin-top: 8px;
}

.my-form__acction a {
    color: var(--negro);
    text-decoration: none;
    font-size: 14px;
}

.my-form__acction a:hover{
    color: var(--verde);
}

.my-form__row{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.my-form__registro{
    display: flex;
    justify-content: center;
}

.my-form__registro a{
    color: var(--negro);
}